[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
mysql-connector-python = "*"
pyyaml = "*"
fastapi = {extras = ["all"],version = "*"}
gunicorn = "*"

[requires]
python_version = "3.8"

[scripts]
start = "uvicorn main:app --reload"
